/* Defina a hero-section sem margens negativas que sobem o layout */
.hero-section {
    position: relative;
    min-height: 800px;
    margin-top: 0;
    /* Removido o -100px */
    overflow: hidden;
}

/* Force os círculos a irem para o fundo e ajuste a distância do topo */
.circulos-laranja {
    position: absolute;
    top: 150px;
    /* Aumente este número para descer mais os círculos */
    right: -80px;
    width: 650px;
    height: 750px;
    z-index: 0px;
    /* -1 coloca o elemento atrás de todo o texto/conteúdo */
}

.circulos-laranja span {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 193, 7, 0.25);
}

.circulos-laranja span:nth-child(1) {
    top: 0;
    left: 150px;
}

.circulos-laranja span:nth-child(2) {
    top: 30px;
    left: 330px;
}

.circulos-laranja span:nth-child(3) {
    top: 240px;
    left: 20px;
}

.circulos-laranja span:nth-child(4) {
    top: 200px;
    left: 290px;
}
/*n*/
.circulos-laranja span:nth-child(5) {
    top: 90px;
    left: 0;
}
/*n*/
.circulos-laranja span:nth-child(6) {
    top: 400px;
    left: 220px;
}
/*n*/
.circulos-laranja span:nth-child(7) {
    top: 440px;
    left: 430px;
}

