body{
    background-color: #F8F9FA;
    margin: 0; /* Tirar a margem e o padding padrão*/
    padding: 0;
}

input{
    display: block; /* Faz pular linha dos blocos de texto */
    margin-bottom: 10px; /* Espaçamento entre os blocos de texto */
}

.container {
    display: flex; /* Deixa de lado a lado */
    width: 100%;
    min-height: 100vh;
}

.lado-laranja {
    
    width: 45%;
    background-color: #ffbd59;
    text-align: center;
}

.cadastro {
    width: 55%;
    margin-left: 25%;
    
}

h1{
    font-size: 64px;
    color:#FFFFFF;
    font-weight: 800;
}

.btnLogar{

    background-color: #f28c28#FFFFFF;
    color: #000000;
    padding: 12px 180px;
    display: inline-block;
    font-size: 36px;
    font-weight: 800;
}

p{
    font-size: 24px;
    line-height: 0.1;
    color:#FFFFFF;
    font-weight: 800;
}